{% extends '_partials/base.html' %}


   {% block body %}
   <h1> Todo Delete </h1>
     

     <form method="POST" action="{% url 'delete-problem' problem.id %}" class="">
        {% csrf_token %}
        <div class="alert alert-danger control1" role="alert">
            Do you really want to delete the todo? 
          </div>
        <div class="control-buttons">
              
        <input type="submit" class="btn btn-danger form-control btn-todo-delete" value="yes">
        <a href="{% url 'home' %} " class="form-control btn btn-primary btn-todo-no-delete">No</a>
    </div>
     </form>
    {% endblock %}